<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fale Conosco</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../wwwroot/Css/Stale.css">
    <link rel="stylesheet" href="../../wwwroot/Css/Default.css">
</head>

<body>
    <header class="header">
        <img src="../../wwwroot/Resources/Logo_Checkpoint.png" draggable="false" class="logo-checkpoint" alt="Logo Checkpoint">

        <!--Menu principal da pagina-->
        <div class="menu">
            <a href="Home.html" draggable="false" class="nav nav-a">
                <img src="../../wwwroot/Resources/Nav/homepage.png" draggable="false" alt="">
                <sup>Home</sup>
            </a>

            <a href="Nossos_produtos.html" draggable="false" class="nav nav-b">
                <img src="../../wwwroot/Resources/Nav/coins.png" draggable="false" alt="">
                <sup>Nossos produtos</sup>
            </a>

            <a href="Quem_somos.html" draggable="false" class="nav nav-c">
                <img src="../../wwwroot/Resources/Nav/employees.png" draggable="false" alt="">
                <sup>Nossa historia</sup>
            </a>

            <a href="FAQ.html" draggable="false" class="nav nav-d">
                <img src="../../wwwroot/Resources/Nav/info.png" draggable="false" alt="">
                <sup>FAQ</sup>
            </a>

            <a href="Login.html" draggable="false" class="nav nav-e">
                <img src="../../wwwroot/Resources/Nav/login.png" draggable="false" alt="">
                <sup>Login ou Cadastrar</sup>
            </a>
        </div>
    </header>
    <main class="content">
        <h1>Fale Conosco</h1>

        <!--Primeiro container sobre informações do produto-->
        <section class="primary-content">
            <div class="form-name">
                <h2>Nome</h2>
                <input type="text" placeholder="Digite seu nome...">
            </div>
            <div class="form-email">
                <h2>Email</h2>
                <input type="email" placeholder="Digite seu email...">
            </div>
            <div class="message">
                <h2>Mensagem</h2>
                <input type="text" placeholder="Digite sua mensagem...">
            </div>
            <input type="submit" value="submit" class="submit">
        </section>
    </main>
    <!--Inicio do footer-->
    <footer class="footer">
        <p>Nn sei veykkkkkkkk<br>footer eh guei</p>
    </footer>
</body>

</html>