<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../wwwroot/Css/Stile.css">
    <link rel="stylesheet" href="../../wwwroot/Css/Default.css">
</head>

<body>
    <header class="header">
        <img src="../../wwwroot/Resources/Logo_Checkpoint.png" draggable="false" class="logo-checkpoint" alt="Logo Checkpoint">

        <!--Menu principal da pagina-->
        <div class="menu">
            <a href="Fale_conosco.html" draggable="false" class="nav nav-a">
                <img src="../../wwwroot/Resources/Nav/chat.png" draggable="false" alt="">
                <sup>Fale conosco</sup>
            </a>

            <a href="Nossos_produtos.html" draggable="false" class="nav nav-b">
                <img src="../../wwwroot/Resources/Nav/coins.png" draggable="false" alt="">
                <sup>Nossos produtos</sup>
            </a>

            <a href="Quem_somos.html" draggable="false" class="nav nav-c">
                <img src="../../wwwroot/Resources/Nav/employees.png" draggable="false" alt="">
                <sup>Nossa historia</sup>
            </a>

            <a href="FAQ.html" draggable="false" class="nav nav-d">
                <img src="../../wwwroot/Resources/Nav/info.png" draggable="false" alt="">
                <sup>FAQ</sup>
            </a>

            <a href="Home.html" draggable="false" class="nav nav-e">
                <img src="../../wwwroot/Resources/Nav/login.png" draggable="false" alt="">
                <sup>Home</sup>
            </a>
        </div>
    </header>
    <main class="content">

        <!--Primeiro container sobre informações do produto-->
        <section class="primary-content">
            <div class="login">
                <form action="">
                    <h2>Email</h2>
                    <input type="email" name="Email" placeholder="Insira seu Email...">
                    <h2>Senha</h2>
                    <input type="password" name="Senha" placeholder="Insira sua senha...">
                </form>
            </div>
            <div class="register">
                <form action="post">
                    <label>
                    <h2>Nome de usuário</h2>
                    <input type="text" name="Nome" placeholder="Insira o nome de usuário...">
                    </label>

                    <label>
                    <h2>Email</h2>
                    <input type="email" name="Email" placeholder="Insira o Email">
                    </label>
                    
                    <label>
                    <h2>Senha</h2>
                    <input type="password" name="Senha" placeholder="Insira a senha...">
                    </label>
                    
                    <label>
                    <h2>Confirme a senha</h2>
                    <input type="password" name="Senh2" placeholder="Confirme a senha...">
                    </label>
                </form>
            </div>
        </section>
    </main>
    <footer class="footer">
        <p>Nn sei veykkkkkkkk<br>footer eh guei</p>
    </footer>
</body>

</html>