.primary-content{
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    padding: 7%;
}

.login{
    border-right: 2px solid #95cfd0;
    padding-top: 10%;
    height: 400px;
}

.register{
    border-left: 2px solid #95cfd0;
    height: 400px;
    padding-top: 10%
}