<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home :3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../wwwroot/Css/Style.css">
    <link rel="stylesheet" href="../../wwwroot/Css/Default.css">
</head>

<body>
    <header class="header">
        <img src="../../wwwroot/Resources/Logo_Checkpoint.png" draggable="false" class="logo-checkpoint" alt="Logo Checkpoint">

        <!--Menu principal da pagina-->
        <div class="menu">
            <a href="Fale_conosco.html" draggable="false" class="nav nav-a">
                <img src="../../wwwroot/Resources/Nav/chat.png" draggable="false" alt="">
                <sup>Fale conosco</sup>
            </a>

            <a href="Nossos_produtos.html" draggable="false" class="nav nav-b">
                <img src="../../wwwroot/Resources/Nav/coins.png" draggable="false" alt="">
                <sup>Nossos produtos</sup>
            </a>

            <a href="Quem_somos.html" draggable="false" class="nav nav-c">
                <img src="../../wwwroot/Resources/Nav/employees.png" draggable="false" alt="">
                <sup>Nossa historia</sup>
            </a>

            <a href="FAQ.html" draggable="false" class="nav nav-d">
                <img src="../../wwwroot/Resources/Nav/info.png" draggable="false" alt="">
                <sup>FAQ</sup>
            </a>

            <a href="Login.html" draggable="false" class="nav nav-e">
                <img src="../../wwwroot/Resources/Nav/login.png" draggable="false" alt="">
                <sup>Login ou Cadastrar</sup>
            </a>
        </div>
    </header>
    <main class="content">

        <!--Primeiro container sobre informações do produto-->
        <section class="primary-content">
            <p class="primary-content-text">
                O Check Point funciona auxiliando
                no gerenciamento de ponto para
                trabalhadores à distância.<br><br><sup>Não sendo necessário ficar preso a um local apenas</sup>
            </p>
            <img src="../../wwwroot/Resources/HomePage/placeholder-filled-tool-shape-for-maps.png" draggable="false" alt="Map Pointer">
        </section>
        
        <!--Inicio do segundo container sobre o produto-->
        <section class="second-content">
            <img src="../../wwwroot/Resources/HomePage/hand-graving-smartphone.png" draggable="false" alt="Holding cellphone">
            <p>
                Todo e qualquer pessoa que
                trabalhe a distância pode utilizar o
                Check Point.<br><br><sup>Trabalhar fora de uma sala pode<br>ser um pouco menos complicado</sup>
            </p>
        </section>
    </main>
    <!--Inicio do footer-->
    <footer class="footer">
        <p>Nn sei veykkkkkkkk<br>footer eh guei</p>
    </footer>
</body>

</html>