<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Nossos Produtos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../wwwroot/Css/Stele.css">
    <link rel="stylesheet" href="../../wwwroot/Css/Default.css">
</head>

<body>
    <header class="header">
        <img src="../../wwwroot/Resources/Logo_Checkpoint.png" draggable="false" class="logo-checkpoint" alt="Logo Checkpoint">

        <!--Menu principal da pagina-->
        <div class="menu">
            <a href="Fale_conosco.html" draggable="false" class="nav nav-a">
                <img src="../../wwwroot/Resources/Nav/chat.png" draggable="false" alt="">
                <sup>Fale conosco</sup>
            </a>

            <a href="Home.html" draggable="false" class="nav nav-b">
                <img src="../../wwwroot/Resources/Nav/coins.png" draggable="false" alt="">
                <sup>Home</sup>
            </a>

            <a href="Quem_somos.html" draggable="false" class="nav nav-c">
                <img src="../../wwwroot/Resources/Nav/employees.png" draggable="false" alt="">
                <sup>Nossa historia</sup>
            </a>

            <a href="FAQ.html" draggable="false" class="nav nav-d">
                <img src="../../wwwroot/Resources/Nav/info.png" draggable="false" alt="">
                <sup>FAQ</sup>
            </a>

            <a href="Login.html" draggable="false" class="nav nav-e">
                <img src="../../wwwroot/Resources/Nav/login.png" draggable="false" alt="">
                <sup>Login ou Cadastrar</sup>
            </a>
        </div>
    </header>
    <main class="content">

        <!--Primeiro container sobre informações do produto-->
        <section class="primary-content">
            <h1>Nossos Planos</h1>
            <div>
                <div class="medium-container">
                    <h3>Medium</h3>
                    <img src="../../wwwroot/Resources/Produtos/coins (1).png" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur<br>adipisicing elit. Sapiente</p>
                    <input type="button" class="button" value="R$59,90">
                </div>
                <div class="price-grid-container">
                    <div class="free-container">
                        <h3>Free</h3>
                        <img src="../../wwwroot/Resources/Produtos/piggy-bank.png" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, odit reprehenderi</p>
                        <input type="button" class="button" value="Free">
                    </div>
                    <div class="premium-container">
                        <h3>Premium</h3>
                        <img src="../../wwwroot/Resources/Produtos/premium.png" alt="">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates ipsa</p>
                        <input type="button" class="button" value="R$99,90">
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <p>Nn sei veykkkkkkkk<br>footer eh guei</p>
    </footer>
</body>

</html>