<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Quem Somos?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../wwwroot/Css/Stole.css">
    <link rel="stylesheet" href="../../wwwroot/Css/Default.css">
</head>

<body>
    <header class="header">
        <img src="../../wwwroot/Resources/Logo_Checkpoint.png" draggable="false" class="logo-checkpoint" alt="Logo Checkpoint">

        <!--Menu principal da pagina-->
        <div class="menu">

            <a href="#" draggable="false" class="nav nav-a">
                <img src="../../wwwroot/Resources/Nav/chat.png" draggable="false" alt="">
                <sup>Fale conosco</sup>
            </a>

            <a href="#" draggable="false" class="nav nav-b">
                <img src="../../wwwroot/Resources/Nav/coins.png" draggable="false" alt="">
                <sup>Nossos produtos</sup>
            </a>

            <a href="Home.html" draggable="false" class="nav nav-c">
                <img src="../../wwwroot/Resources/Nav/homepage.png" draggable="false" alt="">
                <sup>Home</sup>
            </a>

            <a href="#" draggable="false" class="nav nav-d">
                <img src="../../wwwroot/Resources/Nav/info.png" draggable="false" alt="">
                <sup>FAQ</sup>
            </a>

            <a href="#" draggable="false" class="nav nav-e">
                <img src="../../wwwroot/Resources/Nav/login.png" draggable="false" alt="">
                <sup>Login ou Cadastrar</sup>
            </a>
        </div>
    </header>
    <main class="content">
        <h1>Quem somos?</h1>
        <div class="first-content">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi unde aliquam autem impedit ex voluptatum obcaecati dolorum ut, fugiat vel fuga assumenda officia. Dolore quae sed culpa quasi ad quas!</p>
            <img src="../../wwwroot/Resources/Logo_Checkpoint.png" alt="">
            <img src="../../wwwroot/Resources/Logo_Checkpoint.png" alt="">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni tempore nobis voluptatem ullam, odio, excepturi ipsum, labore deleniti tenetur assumenda aliquid non nulla animi autem recusandae? Necessitatibus, harum possimus. Accusantium.</p>
        </div>
        <h1>O que fazemos?</h1>
        <div class="second-content">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis error esse dolorum cumque, culpa beatae. Quidem veritatis commodi, vero animi reprehenderit magnam soluta tempora explicabo, cupiditate id libero, atque voluptas.</p>
            <img src="../../wwwroot/Resources/Logo_Checkpoint.png" alt="">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium eius voluptatem quod aut iste doloremque amet quaerat sequi? Ducimus ipsa sunt minima minus ea accusamus quo iste tempore esse mollitia?</p>
        </div>
    </main>
    <footer class="footer">
        <p>Nn sei veykkkkkkkk<br>footer eh guei</p>
    </footer>
</body>

</html>